.Mobile-nav{
    button{
        @include icon;
    }
    &_top{
        @include flex-ac-sb;
        padding: $size-300;
    }
    &_bottom{
        @include flex-ac-jc;
        padding-block: $size-400;
    }
    .show{
        height: auto;
    }
    .hide{
        height: 0;
    }
}


@include min-max-width(min, 50em){
    .Mobile-nav{
        display: none;
    }
}

// Light
.light{
    .background{
        background: $clr-light-grey-04;
    }
}

// Dark
.dark{
    .background{
        background: $clr-dark-grey-04;
    }
}