.contact-div{
    width: 100%;
    .contact{
        @include flex-col($size-400);
        padding: $size-300;
        &_top{
            h2{
                @include header;
            }

            form{
                div{
                    @include flex-col($size-100);
                    margin-block: $size-300;
                    input{
                        @include form-input;
                    }
                    textarea{
                        resize: none;
                        height: $size-900;
                        @include form-input;
                    }
                }
                button{
                    @include button;
                    margin-block: $size-400;
                }
            }
        }

        &_bottom{
            @include flex-col($size-600);
            h3{
                margin-bottom: $size-200;
            }
        }
    }
}

@include min-max-width(min, 50em){
    .contact-div{
        .contact{
            gap: $size-800;
            flex-direction: row;
            align-items: center;
            &_top{
                width: 65%;
            }
            &_bottom{
                width: 35%;
            }
        }
    }
}

// Light
.light{
    .contact-div{
        .contact{
            &_top{
                form{
                    div{
                        label{
                            color: $clr-light-grey-02;
                        }
                        input,
                        textarea{
                            background: $clr-light-grey-04;
                            color: $clr-light-primary;
                        }
                    }

                    button{
                        @include light-button;
                    }
                }
            }

            &_bottom{
                p{
                    color: $clr-light-grey-01;
                }
            }
        }
    }
}

// Dark
.dark{
    .contact-div{
        .contact{
            &_top{
                form{
                    div{
                        label{
                            color: $clr-dark-grey-02;
                        }
                        input,
                        textarea{
                            background: $clr-dark-grey-04;
                            color: $clr-dark-primary;
                        }
                    }

                    button{
                        @include dark-button;
                    }
                }
            }

            &_bottom{
                p{
                    color: $clr-light-grey-01;
                }
            }
        }
    }
}