.Details-div{
    width: 100%;

    .loading{
        margin-block: 40vh;
        margin-inline: auto;
        width: $size-500;
    }

    .main-error{
        margin-block: 40vh;
        margin-inline: $size-400;
    }
    .Details{
        @include flex-col($size-500);
        padding: $size-300;

        &_top{
            @include flex-ac-sb;
            margin-top: $size-400;
            .back{
                cursor: pointer;
                @include flex-ac($size-100);
                text-decoration: underline;
                font-size: $size-300 * 1.2;
            }
        }

        .header{
            h2{
                @include header;
                margin-block: $size-100;
            }
        }

        .image{
            img{
                width: 100%;
                object-fit: cover;
            }
        }

        .body{
            h3{
                @include base-header;
                margin-block: $size-400;
            }
            ul{
                list-style: decimal;
                padding-left: $size-300;
            }
            .full{
                margin-top: $size-400
            }
        }

        .comments-section{
            h3{
                @include base-header;
                font-weight: 500;
            }

            .comments{
                margin-block: $size-600;
                .comment{
                    @include flex-ac($size-300);
                    align-items: flex-start;
                    margin-top: $size-400;
                    &_pfp{
                        img{
                            width: $size-700;
                            border-radius: 100%;
                        }
                    }
                    &_details{
                        @include flex-col($size-100);
                        padding-bottom: $size-200;
                        border-bottom: 1px solid;
                        width: 100%;
                    }
                }
            }
        }

        .post-comment{
            @include flex-col($size-100);
            .post{
                @extend .post-comment;
                textarea{
                    @include form-input;
                    height: $size-900;
                    resize: none
                }
            }

            button{
                @include button;
                width: fit-content;
                margin-block: $size-200;
                padding: $size-300;
            }
        }
    }
}

@include min-max-width(min, 50em){
    .Details-div{
        width: fit-content;
        margin-inline: auto;
    }
}

// Light
.light{
    .Details-div{
        .Details{
            &_top{
                .back{
                    color: $clr-light-grey-02;
                    &:is(:hover, :focus){
                        color: $clr-light-accent;
                    }
                }
            }

            .header{
                &_bottom{
                    span{
                        color: $clr-light-grey-02;
                    }
                }
            }

            .body{
                .full{
                    a{
                        color: $clr-light-accent;
                    }
                }
            }
    
            .comments{
                .comment{
                    &_details{
                        border-color: $clr-light-grey-03;
                        p{
                            color: $clr-light-grey-02;
                        }
                    }
                }
            }
    
            .post-comment{
                .post{
                    label{
                        color: $clr-light-grey-02;
                    }
    
                    textarea{
                        background: $clr-light-grey-04;
                        color: $clr-light-primary;
                    }
                }
    
                button{
                    @include light-button;
                }
            }
        }
    }
}

// Dark
.dark{
    .Details-div{
        .Details{
            &_top{
                .back{
                    color: $clr-dark-grey-02;
                    &:is(:hover, :focus){
                        color: $clr-dark-accent;
                    }
                }
            }

            .header{
                &_bottom{
                    span{
                        color: $clr-dark-grey-02;
                    }
                }
            }

            .body{
                .full{
                    a{
                        color: $clr-dark-accent;
                    }
                }
            }
    
            .comments{
                .comment{
                    &_details{
                        border-color: $clr-dark-grey-03;
                        p{
                            color: $clr-light-grey-02;
                        }
                    }
                }
            }
    
            .post-comment{
                .post{
                    label{
                        color: $clr-dark-grey-02;
                    }
    
                    textarea{
                        background: $clr-dark-grey-04;
                        color: $clr-dark-primary;
                    }
                }
    
                button{
                    @include dark-button;
                }
            }
        }
    }
}