.SignUp{
    width: 100%;
    .error{
        margin: $size-300 auto;
    }
    .main{
        @include flex-col($size-600);
        padding: $size-300;
        a{
            text-decoration: none;
            &:focus-within{
                text-decoration: underline;
            }
        }

        &_top{
            h2{
                @include header;
                margin: 0;
            }
            p{
                margin-block: $size-400;
            }
        }

        &_bottom{
            form{
                @include flex-col($size-400);

                .avatar{
                    @include flex-ac($size-400);
                    &_main{
                        position: relative;
                        width: max-content;
                        
                        .avatar-img{
                            border-radius: 100%;
                            width: $size-700;
                        }

                        .clear-avatar{
                            position: absolute;
                            top: -5%;
                            left: 80%;
                            cursor: pointer;
                            width: $size-200;
                            padding: $size-100;
                            border-radius: 100%;
                            &:hover{
                                filter: brightness(110%);
                            }
                        }
                    }

                    button{
                        @include button;
                        padding: $size-200 $size-300;
                    }
                    
                }

                .password{
                    position: relative;
                    &_alter{
                        @include alter-password;
                    }
                }

                div:not(:first-child){
                    @include flex-col($size-100);
                    input{
                        @include form-input;
                    }
                }

                .action{
                    button{
                        @include button;
                    }
                    p{
                        text-align: center;
                        margin-block: $size-100;
                    }
                }
            }
        }
    }
}

@include min-max-width(min, 50em){
    .SignUp{
        .main{
            flex-direction: row;
            margin-block: $size-700 $size-500;
            justify-content: space-between;

            &_bottom{
                width: 50%;
                form{
                    .clear-avatar{
                        left: 10%;
                    }
                }
            }
        }
    }
}

// Light
.light{
    .main{
        a{
            color: $clr-light-accent;
            &:hover{
                color: $clr-light-grey-02;
            }
        }

        &_bottom{
            form{
                div{
                    label{
                        color: $clr-light-grey-02;
                    }
                    input{
                        background: $clr-light-grey-04;
                        color: $clr-light-primary;
                    }
                    .clear-avatar{
                        background: $clr-light-error; 
                    }
                }

                .action,
                .avatar{
                    button{
                        @include light-button;
                    }
                }
            }
        }
    }
}

// Dark
.dark{
    .main{
        a{
            color: $clr-dark-accent;
            &:hover{
                color: $clr-dark-grey-02;
            }
        }

        &_bottom{
            form{
                div{
                    label{
                        color: $clr-dark-grey-02;
                    }
                    input{
                        background: $clr-dark-grey-04;
                        color: $clr-dark-primary;
                    }
                    .clear-avatar{
                        background: $clr-dark-error; 
                    }
                }

                .action,
                .avatar{
                    button{
                        @include dark-button;
                    }
                }
            }
        }
    }
}