@mixin min-max-width($type, $value){
    @media (#{$type}-width: #{$value}) {
        @content;
    }
}

@mixin icon{
    background: none;
    outline: none;
    border: none;
}

@mixin header{
    font-size: $fs-600;
    line-height: $lh-600;
    margin-block: $size-500;
}

@mixin sub-header{
    font-size: $fs-400;
    line-height: $lh-400;
    text-transform: uppercase;
    margin-block: $size-200;
}

@mixin base-header{
    font-size: $fs-500;
    line-height: $lh-500;
    margin-bottom: $size-200;
}

@mixin form-input{
    border-radius: $size-100;
    padding: $size-200;
    outline: none;
    border: none;
}

@mixin button{
    @include icon;
    padding: $size-300 $size-600;
    border-radius: $size-100;
}

@mixin light-button{
    background: $clr-light-accent;
    color: $clr-light-white;
    &:is(:hover, :focus-within){
        background: $clr-light-accent-hover;
    }
}

@mixin dark-button{
    background: $clr-dark-accent;
    color: $clr-dark-white;
    &:is(:hover, :focus-within){
        background: $clr-dark-accent-hover;
    }
}

@mixin flex-col($gap){
    display: flex;
    gap: $gap;
    flex-direction: column;
}

@mixin flex-ac-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-ac-jc{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-ac($gap){
    display: flex;
    gap: $gap;
    align-items: center;
}