// Variables
@import "./variables";

// Resets
@import "./resets";

// Mixins
@import "./mixins";


.App{
    width: 100%;
    min-height: 100vh;
    display: inline-flex;
    overflow-x: hidden;
    main{
        min-width: 100%;
    }

    // Light
    &.light{
        color: $clr-light-primary;
        background: $clr-light-white;

        // Light error states
        .error{
            background: $clr-light-error-bg;
            border-color: $clr-light-error;
            color: $clr-light-error;
        }
        .error-field{
            border: 2px solid $clr-light-error;
        }
        .error-msg{
            color: $clr-light-error;
        }
    }

    // Dark
    &.dark{
        color: $clr-dark-primary;
        background: $clr-dark-white;

        // Dark error styles
        .error{
            background: $clr-dark-error-bg;
            border-color: $clr-dark-error;
            color: $clr-dark-error;
        }
        .error-field{
            border: 2px solid $clr-dark-error;
        }
        .error-msg{
            color: $clr-dark-error;
        }
    }
}

@include min-max-width(min, 50em){
    .App{
        main{
            min-width: 60%;
            max-width: 100%;
            margin-inline: $size-900;
        }
    }
}


// Components
@import "../components/Sidebar/index";
@import "../components/MobileNav/index";
@import "../components/Search/index";
@import "../components/Footer/index";
@import "../components/Pagination/index";


// Pages
@import "./pages/Blogs";
@import "./pages/Details";
@import "./pages/Contact";
@import "./pages/SignIn";
@import "./pages/SignUp";
@import "./pages/CreateAvatar";

// Utility classes
.hide{
    display: none;
}

.error{
    border: 1px solid;
    width: fit-content;
    margin-top: $size-400;
    border-radius: $size-100;
    padding: $size-300 $size-500;
}

.error-msg{
    font-size: .9rem;
}

@include min-max-width(min, 50em){
    .hide{
        display: block;
    }
} 
