// Variables
@import "./variables";

// Resets
@import "./resets";

// Mixins
@import "./mixins";


.App{
    width: 100%;
    min-height: 100vh;
    display: inline-flex;
    overflow-x: hidden;
    &.light{
        color: $clr-light-primary;
        background: $clr-light-white;
    }
    &.dark{
        color: $clr-dark-primary;
        background: $clr-dark-white;
    }
}


// Components
@import "../components/Sidebar/index";
@import "../components/MobileNav/index";
@import "../components/Search/index";
@import "../components/Footer/index";


// Pages
@import "./pages/Blog";
@import "./pages/Contact";
@import "./pages/SignIn";
@import "./pages/SignUp";

// Utility classes
.hide{
    display: none;
}

@include min-max-width(min, 50em){
    .hide{
        display: block;
    }
} 
